@import '~antd/dist/antd.css';


.navbar__user-name {
  margin-right: 50px;
  color: #fff;
}

.h100 {
  height: calc(100vh - 64px);
}

.error-text {
  padding: 10px;
  color: red;
}

.events {
  list-style-type: none;
}
